{# Image gutenberg component #}
<div class="gc-image {{ componentClass }}">
    {# Image #}
    <img class="gc-image__image {{ isCover ? 'gc-image__image--cover' }} {{ imageClass }}"
         src="{{ imageUrl }}"
         alt="{{ imageAlt }}"
    >
</div>