<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" {{ function('language_attributes') }}>
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" {{ function('language_attributes') }}>
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html {{ function('language_attributes') }} class="{{ is_admin_logged_in() ? 'admin-logged-in' : '' }}">

    {% include 'components/common/head.twig' %}

    <body data-route="{{ jsRoute|default('') }}" class="{{ bodyClass|default('') }} ">
        {% block content %} {% endblock %}

        {% block footer %}
            {% include 'components/common/footer.twig' %}
        {% endblock %}

    </body>

</html>

